# requirements.txt records the full set of dependencies for development
accelerate
codetiming
datasets
dill
flash-attn
hydra-core
liger-kernel
numpy
pandas
peft
pyarrow>=15.0.0
pybind11
pylatexenc
ray
tensordict<0.6
transformers
vllm @ git+https://github.com/vllm-project/vllm.git@54ed913f3437f9107791e8ea410170b86c968d52#egg=vllm
wandb
