# requirements.txt records the full set of dependencies for development
accelerate
codetiming
datasets
dill
flash-attn
hydra-core
liger-kernel
numpy
pandas
datasets
peft
pyarrow>=15.0.0
pybind11
pylatexenc
pylint==3.3.6
ray[default]
tensordict<=0.6.2
torchdata
transformers
vllm @ https://wheels.vllm.ai/54ed913f3437f9107791e8ea410170b86c968d52/vllm-1.0.0.dev-cp38-abi3-manylinux1_x86_64.whl
wandb
